/* ———————————————————————————————————————————————————————————————————————————————
==============================—Style—normalizacion—===============================
——————————————————————————————————————————————————————————————————————————————— */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {outline: none;}
a:focus, a:active {outline: none;}

nav, footer, header, aside {display: block;}

html, body {
    height: 100%;
    width: 100%;

    font-family: 'Arial Regular';
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {font-family: inherit;}

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: 400;}

/* ———————————————————————————————————————————————————————————————————————————————
======================================—body—======================================
——————————————————————————————————————————————————————————————————————————————— */

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    padding: 100px 0;

    background-color: bisque;
}

.slider_image-wrapper {
    display: flex;
    max-width: 60vw;
    width: 100%;
    margin: 0 auto;

    overflow: hidden;
}

.slider_image {
    display: flex;
    min-width: 60vw;

    background-color: black;
}

.slider_image img {
    object-fit: cover;
    max-width: 100%;
    margin: 0 auto;
}

.slider_text-wrapper {
    display: flex;
    max-width: 30vw;
    width: 100%;

    overflow: hidden;
}

.slider_text {
    min-width: 30vw;
}

.slider_button-wrapper {
    display: flex;
}
